link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
.img_fond1
.bloc
  h2 Content 1
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias reiciendis non odit natus. Ratione sint minima repudiandae quam praesentium similique omnis sapiente debitis. Ex delectus eos doloribus fugiat perspiciatis aliquam.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi accusantium nemo omnis tempore repellat eaque deleniti odit qui facilis ullam quidem ipsa maxime minus quod! Neque quos cumque natus!
.bloc
  h2 Content 2
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias reiciendis non odit natus. Ratione sint minima repudiandae quam praesentium similique omnis sapiente debitis. Ex delectus eos doloribus fugiat perspiciatis aliquam.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi accusantium nemo omnis tempore repellat eaque deleniti odit qui facilis ullam quidem ipsa maxime minus quod! Neque quos cumque natus!
.img_fond2
  .bloc2
    h2 Content 3
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias reiciendis non odit natus. Ratione sint minima repudiandae quam praesentium similique omnis sapiente debitis. Ex delectus eos doloribus fugiat perspiciatis aliquam.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi accusantium nemo omnis tempore repellat eaque deleniti odit qui facilis ullam quidem ipsa maxime minus quod! Neque quos cumque natus!

  .bloc2
    h2 Content 4
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias reiciendis non odit natus. Ratione sint minima repudiandae quam praesentium similique omnis sapiente debitis. Ex delectus eos doloribus fugiat perspiciatis aliquam.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi accusantium nemo omnis tempore repellat eaque deleniti odit qui facilis ullam quidem ipsa maxime minus quod! Neque quos cumque natus!
    
.img_fond3
  .bloc3.mr_top_null
    h2 Content 5
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias reiciendis non odit natus. Ratione sint minima repudiandae quam praesentium similique omnis sapiente debitis. Ex delectus eos doloribus fugiat perspiciatis aliquam.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi accusantium nemo omnis tempore repellat eaque deleniti odit qui facilis ullam quidem ipsa maxime minus quod! Neque quos cumque natus!

  .bloc3
    h2 Content 6
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias reiciendis non odit natus. Ratione sint minima repudiandae quam praesentium similique omnis sapiente debitis. Ex delectus eos doloribus fugiat perspiciatis aliquam.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi accusantium nemo omnis tempore repellat eaque deleniti odit qui facilis ullam quidem ipsa maxime minus quod! Neque quos cumque natus!